<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <link rel="stylesheet" href="/static/css/search.css" />

  <title>{{query.query}} - Librarian</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <div class="noResults">
      {{#unless results}}
      <h2>No results</h2>
      {{#if lenUnder3}}
      <p>Try again with a longer search.</p>
      {{/if}}
      {{/unless}}
    </div>

    <div class="claimsGrid">
      {{#each results}}
      {{> 'partials/claim' }}
      {{/each}}
    </div>

    <br><br>

    {{#if results}}
    <div class="pageSelector">
      {{#unless query.prevPageIs0 }}
      <a class="claimLink" href="/search?q={{query.query}}&page={{query.prevPage}}">Previous page</a>
      {{/unless}}
      <a class="claimLink" href="/search?q={{query.query}}&page={{query.nextPage}}">Next page</a>
    </div>
    {{/if}}
  </main>

  {{> 'partials/footer' }}
</body>

</html>